/* HERO SECTION */
.hero_section {
  display: grid;
  position: relative;
  width: 100%;
}
.hero_section img {
  width: 85%;
  margin: auto;
  padding-top: 60px;
  height: auto;
  object-fit: contain;
  display: block;
}
.hero_section h1 {
  position: absolute;
  padding-top: 4rem;
  padding-left: 4rem;
  color: white;
  font-size: 25px;
}
.hero_section a {
  position: absolute;
  bottom: 25px;
  right: 70px;
  z-index: 10; /* GØR AT DET ER OVER BILLEDET */
}

/* CARDS */
.partners {
  display: grid;
  padding: 1rem;
  gap: 2rem;
}
.partner_card {
  position: relative;
  padding: 1rem;
  padding-bottom: 4rem;
  background-color: #e8e8e8;
  text-align: center;
  box-shadow: 0px 4px 4px #80808054;
  border-radius: 25px;
  max-width: 220px;
  place-self: center;
}

/* KNAPPER */

.green_btn {
  display: inline-block;
  background-color: #f5f5f5;
  color: #277d22;
  padding: 7px 25px;
  border-radius: 50px;
  border: 0.5px solid #277d22;
  transition: 0.2s;
  text-decoration: none;
  font-family: raleSemiBold;
  cursor: pointer;
}
.btn_wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.green_btn:hover {
  background-color: #eaeaea;
}

/* TRIN */
.tre_trin {
  padding-top: 60px;
}

.trin {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 16px;
  border: 0.5px solid grey;
  border-radius: 25px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DESKTOP VIEW */
@media (min-width: 768px) {
  .partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 60px 32px;
  }

  .partner_card {
    width: 100%;
    height: 320px; /* så kortene har samme højde*/
    padding: 24px;
  }

  .hero_section h1 {
    position: absolute;
    padding-top: 8rem;
    padding-left: 11rem;
    font-size: 44px;
    color: white;
  }
  .hero_section a {
    position: absolute;
    bottom: 55px;
    right: 175px;
    z-index: 10; /* GØR AT DET ER OVER BILLEDET */
  }
}
