/* FONTS */

@font-face {
  font-family: "openRegular";
  src: url(/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "openSemiBold";
  src: url(/fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "raleRegular";
  src: url(/fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
  font-family: "raleSemiBold";
  src: url(/fonts/Raleway/static/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "raleBold";
  src: url(/fonts/Raleway/static/Raleway-Bold.ttf);
}

/* GENERAL CSS */
body {
  margin: 0;
  font-family: "openRegular";
  line-height: 1.5;
  color: black;
}

main {
  margin: 3rem;
}

.green {
  color: #369331;
}

.center {
  font-family: "raleRegular";
  text-align: center;
}

.left {
  text-align: left;
}

p {
  font-family: "openRegular";
  line-height: 1.5;
}

h1,
h2 {
  font-family: "raleSemiBold";
  margin-bottom: 0.5rem;
}

h3 {
  font-family: "raleRegular";
}

hr {
  width: 85%;
  margin: 8px;
}

/* .grid-1-1,
.grid-1-1-1,
.partners,
.fordele {
  gap: 16px;
} */

/* KNAPPER OG HOVER */

/* RØD KNAP PÅ ALLE SIDER */
.red_btn {
  display: inline-block;
  background-color: #e21e27;
  color: white;
  padding: 7px 25px;
  border-radius: 50px;
  transition: 0.2s;
  text-decoration: none;
  border: none;
  font-family: "raleSemiBold";
  cursor: pointer;
}
.red_btn:hover,
.red_arrow_btn:hover {
  background-color: #c41b23;
}

.btn1-container {
  display: flex;
  justify-content: center;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* PIL KNAP PÅ CARDS */
.red_arrow_btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  background-color: #e21e27;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOG IND KNAP  */
.login-btn {
  display: inline-block;
  background-color: #e21e27;
  color: white;
  padding: 7px 25px;
  border-radius: 50px;
  border: none;
  font-family: "raleSemiBold";
  cursor: pointer;
  transition: 0.2s;
  align-self: center;
}

.login-btn:hover {
  background-color: #c41b23;
}

/* HOVER HEADER */
.hover-line {
  text-decoration: none;
  color: #000;
  position: relative; /* Gør det muligt at placere pseudo-element under teksten */
  display: inline-block; /* Sørger for at pseudo-elementet følger linkets bredde */
}

/* Stregen laves med ::after */
.hover-line::after {
  content: ""; /* skal være der for at pseudo-element kan eksistere */
  position: absolute;
  left: 0; /* Starter helt til venstre */
  bottom: -3px; /* Lige under teksten */
  width: 0%; /* Start-bredde = 0 (så den kan “slide ind”) */
  height: 2px; /* Tykkelsen på stregen */
  background: #e21e27;
  transition: width 0.3s ease; /* Animation der udvider bredden */
}

/* Når man holder musen over linket */
.hover-line:hover::after {
  width: 100%; /* Stregen udvider sig og bliver fuld længde */
}

/**** MOBILE FIRST VERSION ****/

/* HEADER*/
/*layout */
.mobil-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background: #e9e9e9;
}

/* Logo */
.mobil-header .logo {
  height: 35px;
}

/* Burger menu button */
.burger {
  width: 28px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 100%;
  background: #222;
  border-radius: 2px;
  transition: 0.3s;
}

/* Navigation (gemt by default) */
.mobil-nav {
  display: none;
  background: #fff;
  padding: 20px;
  border-top: 1px solid #eee;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  border-radius: 8px;
  z-index: 1000; /* så dropdown-menu ligger over header */
}

.mobil-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobil-nav li {
  margin-bottom: 14px;
}

.mobil-nav a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

/* når den er aktiv */
.mobil-nav.show {
  display: flex;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
footer a {
  color: black;
  text-decoration: none;
  transition: 0.2s;
}
footer a:hover {
  text-decoration: underline;
}

.footer-slogan {
  font-size: 24px;
  font-family: "raleBold";
}

/* Venstre boks */
.footer-left {
  flex: 1;
  background: #e9e9e9;
  padding: 24px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

/* ikoner */
.social-icons img {
  width: 30px;
  margin-right: 10px;
  margin-top: 20px;
  transition: transform 0.2s ease; /* Gør det muligt at animere forstørrelsen */
}

/* Hover-effekt */
.social-icons img:hover {
  transform: scale(1.15); /* forstørre ikon */
}

/* Højre boks */
.footer-right {
  flex: 1;
  flex-direction: column;
  background: #e21e27;
  padding: 24px;
  border-radius: 25px;
  color: #fff;
  justify-content: space-between;
  position: relative;
}

/* DK logo position */
.dk-footer-logo {
  width: 48px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.footer-p1 {
  font-family: "openSemiBold";
}

/* INDEX SÅDAN FUNGERE DET */

.step1 {
  padding-top: 16px;
  text-align: center;
}

.step2 {
  padding-top: 16px;
  text-align: center;
}

.step3 {
  padding-top: 16px;
  text-align: center;
  padding-bottom: 16px;
}

.grid-1-1-1 {
  padding-bottom: 16px;
}

/*  INDEX HVOR KAN DU BRUGE DINE GRØNNE POINT */

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding-bottom: 30px;
}

.galleri-mobil {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* TESKT BOKSEN MED GRÅ BAGGRUND */
.border-mobil {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  border-radius: 25px;
  padding: 16px;
}

.border-mobil a {
  margin-top: auto;
  align-self: center;
}

.desktop-only {
  display: none;
}

.desktop-textbox {
  display: none;
}

.partner-sektion {
  display: grid;
}

/* INDEX KONCEPT SEKTION */

/* Billedet */
.koncept-img {
  position: relative; /* for at kunne placere tekst ovenpå billedet */
  width: 100%;
}

.koncept-img img {
  width: 100%;
  border-radius: 25px;
  display: block;
}

.img-tekst {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 35px;
  font-family: "raleBold";
  width: 70%;
}

.koncept-box {
  background-color: #e9e9e9;
  border-radius: 25px;
}

/* Brødtekst */
.koncept-tekst {
  padding: 16px;
  border-radius: 10px;
}

/* LOG-IND */

/* Glemt kodeord */
.glemt {
  text-decoration: underline;
  color: black;
}

/* Opret en profil */
.opret {
  margin-top: 16px;
}

.opret a {
  text-decoration: underline;
  color: #000;
}

/* felterne */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  font-family: "openRegular";
}

.login-form input {
  padding: 16px;
  border-radius: 30px;
  border: none;
  background: #e9e9e9;
  font-size: 16px;
}

/* skjuler E-mail og Kodeord i layout men beholder for skærmlæsere */
.hidden {
  position: absolute; /* clip virker kun hvis dette er tilføjet */
  width: 1px; /* skjuler i layout men beholder i DOM'en */
  height: 1px; /* skjuler i layout men beholder i DOM'en */
  overflow: hidden; /* skjuler indholdet */
  clip: rect(0, 0, 0, 0); /* fjerner synlighed men eksisterer stadig */
}

/****** DESKTOP ******/
@media (min-width: 768px) {
  main {
    padding: 6rem;
  }

  hr {
    width: 60%;
    margin: 8px;
  }

  /* HEADER */
  .burger {
    display: none; /* skjul burger */
  }

  .mobil-header {
    padding: 20px 40px;
  }

  .mobil-nav {
    display: flex; /* viser menuen */
    position: static; /* fjerner dropdown */
    flex-direction: row; /* horisontal menu */
    background: none;
    box-shadow: none;
    width: auto;
    gap: 2rem;
    padding: 0;
  }

  .mobil-nav ul {
    display: flex;
    gap: 2rem;
  }

  .mobil-nav li {
    margin: 0;
  }

  .mobil-nav a {
    font-size: 16px;
    color: black;
    text-decoration: none;
  }

  /* FOOTER */

  .footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px; /* stor afstand */
    row-gap: 16px; /* standard luft */
  }

  .footer {
    flex-direction: row;
  }
  .footer-slogan {
    font-size: 30px;
    font-family: "raleBold";
    max-width: 260px;
    line-height: 1.2;
  }

  .footer-right {
    flex: 1; /* Så den fylder 1 ud af 3 */
  }
  /* Hvor meget den venstre box fylder */
  .footer-left {
    flex: 2;
    justify-content: space-between;
  }

  /* INDEX SÅDAN FUNGERE DET*/
  h2 {
    text-align: left;
  }

  .grid-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: auto;
    gap: 8px;
  }

  /* INDEX HVOR KAN DU BRUGE DINE GRØNNE POINT*/

  .galleri-mobil {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .galleri-desktop {
    display: contents; /* alle billeder deltager i grid'et */
  }

  /* grid'et der skaber layoutet */
  .grid-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* tekst, img1, img2 */
    grid-template-rows: auto auto; /* række 1 og 2 */
    gap: 16px;
    margin: 0 auto;
  }

  /* teksten med CTA */
  .border-mobil {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: #e9e9e9;
    padding: 24px;
  }

  /* Billede 1 – øverste række */
  .img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  /* Billede 2 – øverste række */
  .img3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  /* Billede 3 – nederste række (fylder to kolonner) */
  .img4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  /* Billede 4 – nederste række (fylder to kolonner) */
  .img5 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  /* BILLEDER – ens styling */
  .galleri-desktop img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  /* LOG-IND SIDE */
  .login-form {
    gap: 16px;
    max-width: 800px;
    margin: auto;
    padding: 32px;
  }

  /* INDEX KONCEPT SEKTION */
  .koncept-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .koncept-tekst {
    font-size: 18px;
    text-align: left;
  }

  .koncept-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .koncept-img {
    height: 100%;
  }

  .img-tekst {
    font-size: 44px;
    left: 30px;
    width: 60%;
  }
}
