/* GENERAL CSS */
main {
    padding: 1rem;
}
h1, h2 {
    font-family: raleSemiBold;
}
h3, h4 {
    font-family: raleRegular;
}
p {
    font-family: openRegular;
}

/* HERO */
.brand_name {
    display: block;
    border-bottom: 1px solid black;
}
.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 1rem;
}
.grid_2-1 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

/* CARDS */
.fordele {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 2rem;
    object-fit: contain;
}
.fordel_card {
    padding: 1rem;
    background-color: #F2F2F2;
    text-align: center;
    box-shadow: 0px 4px 4px #80808054;
    border-radius: 25px;
    max-width: 220px;
}

/* LOG IND SECTION */
.log_ind {
    text-align: center;
}
.green_text {
    color: #369331;
}

/* KNAPPER */
.red_btn {
    display: inline-block;
    background-color: #E21E27;
    color: white;
    padding: 7px 25px;
    border-radius: 50px;
    transition: 0.2s;
    text-decoration: none;
    font-family: raleSemiBold;
    cursor: pointer;
}
.red_btn:hover {
    background-color: #C41B23;
}
.green_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #F5F5F5;
    color: #277D22;
    padding: 7px 25px;
    border-radius: 50px;
    border: 0.5px solid #277D22;
    transition: 0.2s;
    text-decoration: none;
    font-family: raleRegular;
    cursor: pointer;
}
.green_btn:hover {
    background-color: #EAEAEA;
}
.green_arrow {
    width: 30px;
    height: 30px;
}

/* DESKTOP-VIEW */
@media (min-width: 768px) {
    .grid_2-1 p {
        padding-top: 4rem;
    }
    .fordele {
        grid-template-columns: 1fr 1fr 1fr;
    }
}